.container__member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.name__group{
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 4rem;
}

.member__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.member__card{
    width: 20rem;
    margin: 0 2rem;
}

.member__card a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.member__card-img img{
    width: 12rem;
    height: 12rem;
    /* border: 0.5rem solid white; */
    box-shadow: 0 0 20px 2px gray;
    border-radius: 50%;
    transition: all 0.3s;
}

.member__card-img img:hover{
    transform: scale(1.1);
}

.member__name{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem;
    text-transform: capitalize;
}

.member__name:hover{
    color: rgb(64, 204, 29)
}

/*  */
/*  */
.member__container-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: calc(100vh - 4.5rem);
    overflow: hidden;
    border: 2rem solid white;
}

.member__detail-img, .member__detail-info{
    width: 50%;
}

.member__detail-img img{
    width: 100%;
    height: auto;
}

.member__detail-info {
    padding: 1.6rem;
}
.member__detail-info p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}