/* =============== VARIABLES CSS ============== */
:root {
  /* color */
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: rgb(160, 160, 160);
  /* font */
  --primary-font-family: "Lora", serif;
  --small-font-size: 0.9rem;
  --normal-font-size: 1rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2rem;
  /* font weight */
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 600;
  --extra-bold-font-weight: 700;
}
/*  */

/* =============== BASIC CSS ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}

input {
  outline: none;
}

img {
  vertical-align: middle;
}
/* =================== */

/* =============== REUSABLE CLASS ============== */
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */

/* =============== MAIN CSS ============== */

/* ===== nav top =====  */
.nav__top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  height: 4.5rem;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__top-search-bar {
  margin-left: 20%;
}

.nav__top-search-bar input {
  border: 1px solid var(--tertiary-color);
  padding: 0.5rem 1rem;
  width: 30rem;
  border-radius: 3rem;
}

.nav__top-search-bar-icon {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.1rem;
  transition: all 0.3s;
}

.nav__top-search-bar-icon:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 10px 1px var(--tertiary-color);
}

.nav__top-type-media {
  height: 100%;
  margin-right: 1rem;
}

.nav__top-type-media-item {
  width: 8rem;
  height: 80%;
  display: flex;
  font-weight: var(--medium-font-weight);
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.nav__top-type-media-item i {
  font-size: 1.5rem;
}

.nav__top-type-media-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}

.nav__top-type-media-item a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* ===== end nav top =====  */

/* ===== nav left side =====  */
.content__left {
  margin-top: 4.5rem;
  width: 20%;
}

.nav__side {
  position: fixed;
  top: 4.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: calc(100vh - 4.5rem);
  background-color: var(--primary-color);
}

.nav__side-head {
  position: relative;
  flex-direction: column;
}

.nav__side-title {
  font-family: var(--primary-font-family);
  position: relative;
  font-size: var(--large-font-size);
  z-index: 1;
  margin: 1rem;
}

.nav__side-description {
  text-align: center;
  width: 80%;
  font-size: var(--small-font-size);
  color: var(--tertiary-color);
}

.nav__side-content {
  width: 100%;
}

.nav__side-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
  line-height: 2.5rem;
}

.nav__side-content-item a {
  width: 80%;
  display: block;
  font-size: 1.1rem;
  font-weight: var(--medium-font-weight);
  text-transform: capitalize;
  transition: all 0.3s;
}

.nav__side-content-item a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.nav__side-end {
  text-align: center;
}

.nav__side-end i {
  font-size: 2.5rem;
  transition: all 0.2s;
}
.nav__side-end i:hover {
  font-size: 4rem;
}

.nav__side-social {
  justify-content: space-around;
  margin-bottom: 1rem;
  max-height: 2.5rem;
}

.nav__side-copyright {
  font-size: var(--small-font-size);
}

/* ===== end nav left side =====  */

/* ===== content left image =====  */
.content__right {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: 20%;
  border-top: 1px solid var(--tertiary-color);
  padding: 0.5rem;
}

.col {
  width: calc(100% / 3);
  height: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.col-img {
  position: relative;
  margin: 0.5rem 0;
}

.col-img:hover img {
  box-shadow: 0 0 8px 1px var(--tertiary-color);
}

.col-img-info {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.col-img-info i {
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  color: var(--primary-color);
  margin: 0 0.3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.col-img-info i:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.col-img:hover .col-img-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-img .col-img-info-icon {
  margin-top: 2rem;
}



.btn-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 5px 1px var(--secondary-color);
}

.btn-to-top:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 0 5px 1px var(--primary-color);
}
