/* =============== VARIABLES CSS ============== */
:root {
  /* color */
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: rgb(160, 160, 160);
  /* font */
  --primary-font-family: "Lora", serif;
  --small-font-size: 0.9rem;
  --normal-font-size: 1rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2rem;
  /* font weight */
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 600;
  --extra-bold-font-weight: 700;
}
/*  */

/* =============== BASIC CSS ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}

input {
  outline: none;
}

img {
  vertical-align: middle;
}
/* =================== */

/* =============== REUSABLE CLASS ============== */
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__right {
  display: none;
  width: 80%;
  height: auto;
  margin-left: 20%;
  border-top: 1px solid var(--tertiary-color);
  padding: 0.5rem;
}
/*  */

/* =============== MAIN CSS ============== */

/* ===== nav top =====  */
.nav__top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  height: 4.5rem;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__top-search-bar {
  margin-left: 20%;
}

.nav__top-search-bar input {
  border: 1px solid var(--tertiary-color);
  padding: 0.5rem 1rem;
  width: 30rem;
  border-radius: 3rem;
}

.nav__top-search-bar-icon {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.nav__top-search-bar-icon:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 10px 1px var(--tertiary-color);
}

.nav__top-type-media {
  height: 100%;
  margin-right: 1rem;
  overflow: hidden;
}

.nav__top-type-media button {
  background-color: var(--primary-color);
  border: none;
  width: 8rem;
  height: 70%;
  display: flex;
  font-weight: var(--medium-font-weight);
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.1rem;
}

.nav__top-type-media-item i {
  font-size: 1.5rem;
}

.nav__top-type-media-item:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.nav__top-type-media button.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  outline: none;
  width: 8rem;
  height: 80%;
  font-size: 1.1rem;
}
/* ===== end nav top =====  */

/* ===== nav left side =====  */
.content__left {
  margin-top: 4.5rem;
  width: 20%;
}

.nav__side {
  position: fixed;
  top: 4.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: calc(100vh - 4.5rem);
  background-color: var(--primary-color);
}

.nav__side-head {
  position: relative;
  flex-direction: column;
}

.nav__side-title {
  font-family: var(--primary-font-family);
  position: relative;
  font-size: var(--large-font-size);
  z-index: 1;
  margin: 1rem;
}

.nav__side-description {
  text-align: center;
  width: 80%;
  font-size: var(--small-font-size);
  color: var(--tertiary-color);
}

.nav__side-content {
  width: 100%;
  flex-direction: column;
}

.nav__side-content-item {
  width: 80%;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: var(--medium-font-weight);
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  transition: all 0.5s;
}

.nav__side-content-item:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.nav__side-end {
  text-align: center;
}

.nav__side-end i {
  font-size: 2.5rem;
  transition: all 0.2s;
}
.nav__side-end i:hover {
  font-size: 4rem;
}

.nav__side-social {
  justify-content: space-around;
  margin-bottom: 1rem;
  max-height: 2.5rem;
}

.nav__side-copyright {
  font-size: var(--small-font-size);
}

/* ===== end nav left side =====  */

/* ===== homepage =====  */
.homepage__container {
  width: 100%;
  height: calc(100vh - 5.6rem);
  flex-direction: column;
  background-image: url("https://wallpapercave.com/wp/wp5748130.jpg");
  background-size: cover;
  justify-content: start;
  padding-top: 5rem;
}

.homepage__container * {
  display: inline-block;
}

.homepage__container h1,
.homepage__container p {
  font-size: 2.5rem;
}

.homepage__container h1 {
  /* margin-bottom: 1rem; */
  position: relative;
}

.homepage__container h1::after{
  position: absolute;
  bottom: -5rem;
  content: "Nơi lưu trữ những giá trị cuộc sống";
  font-size: 1.3rem;
  font-weight: var(--regular-font-weight);
  font-style: italic;
}

.highlight-text {
  background-color: black;
  color: white;
  padding: 0.4rem;
}
/* ===== end homepage =====  */

/* ===== member page =====  */

/* ===== end member page =====  */

/* ===== content image =====  */
.col {
  width: calc(100% / 3);
  height: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.col-img {
  position: relative;
  margin: 0.5rem 0;
}

.col-img:hover img {
  box-shadow: 0 0 8px 1px var(--tertiary-color);
}

.col-img-info {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.col-img-info i {
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  color: var(--primary-color);
  margin: 0 0.3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.col-img-info i:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.col-img:hover .col-img-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-img .col-img-info-icon {
  margin-top: 2rem;
}
/* ===== end content  image =====  */

/* ===== content  video =====  */
.video {
  width: 100%;
  flex-wrap: wrap;
}

.video__card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* flex: calc((100% - 4rem) / 3); */
  width: 16rem;
  height: 15rem;
  margin: 0.5rem;
  transition: all 0.3s;
}

.video__card:hover{
  box-shadow: 0 0 10px 2px lightgray;
}

.video__card iframe {
  width: 100%;
  height: auto;
}

.video__card-info {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5rem;
}

.video__card-date{
  font-size: 0.7rem;
  font-style: italic;
  margin-top: -1rem;
}

.video__card-creator{
  margin-top: 0.3rem;
}

.video__card-title {
  font-size: 1.1rem;
  font-weight: var(--bold-font-weight);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video__card-creator{
  font-size: var(--small-font-size);
}

.video__card-creator::before{
  content: "Người đăng: ";
}

.video__card-icons{
  display: none;
  align-self: flex-end;
  margin-right: 0.3rem;
}

.video__card-icons i {
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.2rem;
}

.video__card-icons i:hover{
  font-weight: var(--bold-font-weight);
  /* background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%; */
}

.video__card:hover .video__card-icons{
  display: block;
}

.video__card:hover .video__card-date{
  display: none;
}

/* ===== end content  video =====  */

/* button to top  */
.btn-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 5px 1px var(--secondary-color);
}

.btn-to-top:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 0 5px 1px var(--primary-color);
}
/*  */
